.component-links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  transition: 0.5s;
}

.component-links-list > li {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.component-links-list > li > a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--default-color);
  font-weight: 500;
}

.component-links-list > li.active > a {
  color: var(--primary-color);
}
.component-links-list > li > a:hover {
  color: var(--primary-color);
  transition: 0.5s;
}

.navbar {
  padding: 2rem 1rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.navbar-title {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 35px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar-title:hover {
  color: var(--primary-hover);
  font-size: 3rem;
}

.navbar-links {
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.navbar-link {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--default-color);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  list-style: none;
  padding: 0.8rem;
}
