@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("./navbar.css");
@import url("../components/alert/alert.css");
@import url("../components/avatar/avatar.css");
@import url("../components/button/button.css");
@import url("../components/badges/badges.css");
@import url("../components/card/card.css");
@import url("../components/images/images.css");
@import url("../components/inputs/input.css");
@import url("../components/toast/toast.css");

:root {
  --primary-color: #ff4e54;
  --default-color: #4a4a68;
  --secondary-color: #f3f4f6;
  --danger-color: #f44336;
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --active-color: #ffeded;

  --primary-hover: #ff7176;
  --secondary-hover: #e5e7eb;
  --danger-hover: #d31609;
  --success-hover: #0d8611;
  --active-hover: #fbe6dc;

  --off-white: #f6f9fc;
}

html {
  scroll-behavior: smooth;
}

/* css reset */
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

iframe.au-iframe {
  border-radius: 1rem;
}

div.main-container {
  font-family: "Rubik", sans-serif;
  width: 100%;
  max-width: 1024px;
  min-height: 100vh;
  height: max-content;
  margin: 0 auto;
}

h1.au-heading {
  font-size: 4.8rem;
  line-height: 1.05em;
  font-weight: 800;
}

h2.au-heading {
  font-size: 3.6rem;
  line-height: 1.25em;
  font-weight: 700;
}

h3.au-heading {
  font-size: 2.8rem;
  line-height: 1.25em;
  font-weight: 600;
}

h4.au-heading {
  font-size: 1.8rem;
  line-height: 1.22em;
  font-weight: 500;
}

p.au-text {
  font-size: 1.4rem;
  line-height: calc(1.5em + 0.2vw);
}

.heading {
  text-align: center;
}

.sub-heading {
  text-align: center;
  margin-top: 3rem;
}

.heading-button-container {
  display: flex;
  margin: 2.5rem auto;
  gap: 3rem;
  justify-content: center;
}

.heading-button-container > a {
  font-size: 2rem;
  text-decoration: none;
  padding: 1.5rem 5rem;
}

.code-wrapper {
  display: flex;
  margin: 3.5rem 0;
  flex-flow: column;
  gap: 2rem;
}

.code-container {
  display: flex;
  gap: 1rem;
  padding: 2rem 2.5rem;
  background-color: var(--active-color);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 50px;
}

main.main-page {
  max-width: 500px;
  min-height: 100vh;
  padding-top: 10rem;
  margin: auto;
}

main.component-page {
  padding: 1rem;
}

.au-primary-text {
  color: var(--primary-color);
}

.au-success-text {
  color: var(--success-color);
}

.au-danger-text {
  color: var(--danger-hover);
}

.au-warning-text {
  color: var(--warning-color);
}
