.au-image {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.au-image-circular {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
}

.au-image-full-width {
  width: 100%;
  height: auto;
  object-fit: cover;
}
