<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>AdornBox</title>
  </head>

  <body>
    <div class="main-container">
      <nav class="navbar" id="main_nav"></nav>
      <main class="component-page">
        <div>
          <div>
            <h3 class="au-heading">Avatar</h3>
            <p class="au-text">
              Avatar can be useful to display your user's profile picture.
              Usually they are found in circle or square shaps.
            </p>
          </div>
          <hr />
          <div class="code-wrapper">
            <h4 class="au-heading">Circular Profie Avatar</h4>
            <p class="au-text">
              Profile avatar can be created using avatar class, inside img tag.
              you can also specify sizes of them.
            </p>
            <div class="code-container">
              <img
                class="avatar avatar-cicular sm"
                src="https://i.pravatar.cc/60"
                alt="avatar-circular-1"
              />
              <img
                class="avatar avatar-cicular md"
                src="https://i.pravatar.cc/100"
                alt="avatar-circular-2"
              />
              <img
                class="avatar avatar-cicular lg"
                src="https://i.pravatar.cc/150"
                alt="avatar-circular-3"
              />
            </div>
            <div>
              <iframe
                class="au-iframe"
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar%2520avatar-cicular%2520sm%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F40%2522%2520alt%253D%2522avatar-1%2522%252F%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-cicular%2520md%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F40%2522%2520alt%253D%2522avatar-2%2522%252F%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-cicular%2520lg%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F40%2522%2520alt%253D%2522avatar-3%2522%252F%253E"
                style="
                  width: 100%;
                  height: 242px;
                  border: 0;
                  transform: scale(1);
                  overflow: hidden;
                "
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </div>
          </div>
          <hr />
          <div class="code-wrapper">
            <h4 class="au-heading">Square Profie Avatar</h4>
            <p class="au-text">
              Profile avatar can be created using avatar class, inside img tag.
              add avatar-square for square avatar.
            </p>
            <div class="code-container">
              <img
                class="avatar avatar-square sm"
                src="https://i.pravatar.cc/80"
                alt="avatar-square-1"
              />
              <img
                class="avatar avatar-square md"
                src="https://i.pravatar.cc/100"
                alt="avatar-square-2"
              />
              <img
                class="avatar avatar-square lg"
                src="https://i.pravatar.cc/200"
                alt="avatar-square-3"
              />
            </div>
            <div>
              <iframe
                class="au-iframe"
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar%2520avatar-square%2520sm%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F40%2522%2520alt%253D%2522avatar-1%2522%252F%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-square%2520md%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F40%2522%2520alt%253D%2522avatar-2%2522%252F%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-square%2520lg%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F40%2522%2520alt%253D%2522avatar-3%2522%252F%253E"
                style="
                  width: 100%;
                  height: 242px;
                  border: 0;
                  transform: scale(1);
                  overflow: hidden;
                "
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
