.example-navbar {
  width: 100%;
}

.navbar-background-light {
  background: var(--off-white);
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.navbar-input {
  min-width: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-content {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 870px) {
  .navbar-content {
    display: none;
  }
}
