.input-group {
  display: flex;
  flex-flow: column;
  font-size: 2.4rem;
}

.au-input {
  border: 1px solid var(--default-color);
  padding: 0.8rem 1.4rem;
  font-size: 1.8rem;
  transition: 0.3s all ease;
  border-radius: 5px;
}

.input-group input:focus {
  border: 1px solid var(--primary-hover);
}

.au-input-error-text {
  color: var(--danger-color);
}

.input-group.error label {
  color: var(--danger-color);
}

.input-group.error input {
  border: 1px solid var(--danger-color);
}

.input-group.error input:focus {
  border: 1px solid var(--danger-hover);
}

.example-input {
  min-width: 51rem;
}

@media only screen and (max-width: 600px) {
  .example-input {
    min-width: auto;
  }
}
