.input-group {
  display: flex;
  flex-flow: column;
  font-size: 2.4rem;
}

input[type="text"] {
  border: 1px solid var(--default-color);
  padding: 1rem 1.4rem;
  float: left;
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  min-width: 512px;
  transition: 0.3s all ease;
  outline: none;
  border-radius: 5px;
}

.input-group input:focus {
  border: 1px solid var(--primary-hover);
}

.au-input-error-text {
  color: var(--danger-color);
}

.input-group.error label {
  color: var(--danger-color);
}

.input-group.error input {
  border: 1px solid var(--danger-color);
}

.input-group.error input:focus {
  border: 1px solid var(--danger-hover);
}
